.a-container{
    display: flex;
    justify-content: center;
    line-height: 10px;
    padding: 40px 0px;
    background-color:whitesmoke ;
}
.a-box{
    width: 20%;
}
.a-head{
    color: black;
    text-align: center;
}
.a-para{
    font-size: 15px;
    font-family:'Roboto';
}
.a-icon{
    font-size: 30px;
    border-radius: 100px;
    width: fit-content;
    padding: 10px; 
}