Container for the entire layout
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

/* Compiler section title */
.compiler-name {
    color: white;
}

/* Box styling */
.box {
    width: 50%;
    padding: 10px;
   
}

/* Scrollable container */
.scrollable {
    max-height: 100vh; /* Adjust height as needed */
    overflow-y: auto;
    padding-right: 10px;
}
.code-envirornment{
    height: 75vh; /* Adjust height as needed */
    overflow-y: auto;
    padding-right: 10px;
    margin: 15px;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.385);
}
/* Module styling */
.module {
    background-color: whitesmoke;
    padding: 10px;
}

/* Module box styling */
.modulebox {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px pink;
}

/* Module header styling */
.head {
    padding-top: 15px;
    text-align: center;
}

/* Compiler styling */
.compiler {
    background-color: black;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
}

/* Summary button styling */
.summary-button {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    list-style: none; /* Remove default list-style */
}

/* Styling for selected options */
.selected-option {
    color: white;
}

/* Run button styling */
.run-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.run-button:hover {
    background-color: #45a049;
}

/* Responsive styles for screens smaller than 1024px */
@media only screen and (max-width: 1024px) {}

/* Responsive styles for screens smaller than 770px */
@media only screen and (max-width: 770px) {
    .container {
        flex-direction: column;
        width: 100%;
    }
    .box {
        width: 100%;
    }
    .c-name {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 15px;
    }
    .compiler {
        background-color: black;
        width: 100%;
        height: 500px;
        border-radius: 10px;
    }
}

/* Responsive styles for screens smaller than 430px */
@media only screen and (max-width: 430px) {
    .container {
        flex-direction: column;
        width: 100%;
    }
    .box {
        width: 100%;
    }
}




/* Modal styles */
.modal {
    display: block; /* Initially hidden */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Adjust as needed */
  }
  
  .modal-content h2 {
    margin-bottom: 10px;
  }
  
  .modal-content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .modal-content li {
    margin-bottom: 10px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  