.p-container{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  
}
.p-img{
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}
.p-box{
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 10px;
  border-radius: 5px;
  position: relative;
  padding-bottom: 25px;
  background-color: white;

}

.p-button{
  width: 80%;
 position: absolute;
 bottom: 10px;
left: 10%;
background-color: darkblue;
color: white;
height: 30px;
border-radius: 5px;
border-style: none;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.214);
}
.p-h3{
  text-align: center;
 
  color: darkblue;
  font-size: 15px;
}
.p-p{
  text-align: center;
  padding: 5px 15px;
  font-family: 'roboto';
  font-size: 13px;
}
.showmore{
  text-align: center;
  color: blue;
  text-decoration: underline;
  font-size: 20px;
}
@media only screen and (max-width: 1024px) {
  .p-container{
      width: 90%;
  }
}
@media only screen and (max-width: 700px) {
.p-container{
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.p-box{
  width: 90%;
  margin: 10px auto;
 
}
}
  @media only screen and (max-width: 430px) {}

