.service-image{
    width: 70px;
    height: 70px;
    background-color: white;
    padding: 6px;
    /* border-radius: 50%; */
    margin: 10px;
}
:hover.service-image{
}
.service{
    padding-bottom: 100px;
    /* background-color: #E1ECF9; */
}
.service-item{
    background-color: white;
    width: 30%;
    margin: 10px;
    padding: 13px;
    border-radius: 15px;
    text-align: left;
    text-align: center;
    font-size: 12px;
}
:hover.service-item{
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
   border-radius: 15px;
   transition: 0.5s;
  background-color: blueviolet;
   color: white;
   .service-description{
    color: whitesmoke;
    font-size: 17px;
}
.service-image{
    border-radius: 20px;
}
}


.services-container{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;

}
.service-description{
    color: darkblue;
    font-size: 15px;
    

}
:hover
.services-heading{
    text-align: center;
    font-size: 50px;
    padding-top: 60px;
    font-weight: bold;
    color: white;
}
.service-descrip{
    text-align: center;
    font-size: 26px;
    font-family: cursive;
    
}
.p{
   
    font-size: 10px;
}
@media only screen and (max-width: 1024px) {}
    @media only screen and (max-width: 770px) {
        .services-container{
            width: 100%;
        }
    }
        @media only screen and (max-width: 430px) {
            .services-container{
                /* flex-direction: column; */
            }
            .service-item{
                width: 80%;
            }
        }
